* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  overflow: hidden;
}

canvas {
  display: block;
  position: relative;
}

i {
  padding: 1rem;
  position: absolute;
  top: 10px;
  color: #FFF;
  font-size: 2rem;
  z-index: 10;
  cursor: pointer;
}

.fa-arrow-left-long {
  left: 10px;
}

.fa-refresh {
  right: 10px;
}